{% extends 'base.html'%}{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to JVUNE Blogs</title>
    {% endif %}
    <title>JVUNE</title>
    {% block styles%} {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="../static/css/all.css" rel="stylesheet"> {% endblock %}
</head>

<body>
    {% block content %}
    <section class="container-fluid" id="mast">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="section-content mx-auto">
                        <h3 class="mb-5">{{ quote.quote }}</h3>
                        <h3 class="mb-5">~{{ quote.author }}</h3>
                    </div>
                </div>
                <!-- <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup ">
                            <div class="device">
                                <div class="screen">
                                    <img src="../static/image/white.jpeg" class="img-fluid" alt="" width="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section> {% endblock %}

</body>

</html>