{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to JVUNE Blogs</title>
    {% endif %}
    <title>JVUNE</title>
    {% block styles%} {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css"> {% endblock %}
</head>

<body>
    {% block content %}
    <header class="masthead" id="mast">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="mb-5">New Age is an app landing page that will help you beautifully showcase your new mobile app, or anything else!</h1>

                    </div>
                </div>
                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup ">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="../static/image/jazzz.jpg" class="img-fluid" alt="" width="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header> {% endblock %}
</body>

</html>