{% macro displayBlogs(blogs_list)%} {%for blog in blogs_list%}
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div style="border: 1px solid #6184D8; border-radius: 5px; padding: 10px; font-size:16px; margin: 10px;">
        <h4>{{blog.author}}</h4>
        <p onmouseover="this.style.backgroundColor='#6184D8'">{{blog.content| truncate(100)}}</p>
        <p>Written by: {{blog.author.username}} <br> <a href="/blog/{{blog.id}}" class="btn btn-primary" style="margin-top: 10px; background-color: #6184D8; color: #000; border:none;">View Blog</a> </p>
    </div>
</div>
{%endfor%} {%endmacro%} {%macro displayComments(comments_list)%} {%for comment in comments_list%}
<div class="col-md-6">
    <h5>{{comment.name}}</h5>
    <p>{{comment.comment}}</p>
    <button style="background-color: #fff;border:1px solid #6184D8;color:#000;" onmouseover="this.style.backgroundColor='#6184D8'" onmouseout="this.style.backgroundColor='#fff'" type="button" class="btn btn-sm" data-toggle="modal" data-target="#deleteCommentModal"><i class="far fa-trash-alt"></i>&nbsp;Delete Comment</button>
</div>
<div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCommentModalLabel">Delete Comment?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{url_for('main.delete_comment', id=comment.id)}}" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{%endfor%} {%endmacro%}